<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="taxi.lemon">

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <permission
        android:name="taxi.lemon.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />

    <uses-permission android:name="taxi.lemon.permission.C2D_MESSAGE" />

    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true" />

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activities.SplashScreenActivity"
            android:noHistory="true"
            android:theme="@style/AppTheme.Splash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.LoginActivity"
            android:label="@string/la_title"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".activities.MainActivity"
            android:label="@string/title_activity_main"
            android:theme="@style/AppTheme" />

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />

        <activity
            android:name=".activities.UpdateProfileActivity"
            android:label="@string/title_activity_update_profile"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".activities.PreferencesActivity"
            android:label="@string/title_activity_preferences"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".activities.MapActivity"
            android:label="@string/title_activity_map"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".activities.RestorePasswordActivity"
            android:label="@string/rpf_title_restore_password"
            android:theme="@style/AppTheme" />

        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="081a45e1f0cbebf2755eba040c6ad6f0255aa0ee"
            />
        <!-- GCM section -->
        <receiver
            android:name="com.google.android.gms.gcm.GcmReceiver"
            android:exported="true"
            android:permission="com.google.android.c2dm.permission.SEND">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />

                <category android:name="taxi.lemon" />
            </intent-filter>
        </receiver>

        <service
            android:name=".gcm.GetGcmTokenIntentService"
            android:exported="false" />
        <service
            android:name=".gcm.MyInstanceIDListenerService"
            android:exported="false"></service>
        <service
            android:name=".gcm.OrderGcmListenerService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
            </intent-filter>
        </service>

        <activity android:name=".activities.OrderInfoActivity"
            android:parentActivityName=".activities.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.MainActivity" />
        </activity>
    </application>

</manifest>